<div class="main-container">
    <mat-toolbar class="app-toolbar">
        <span class="spacer"></span> <!-- Agregar un espaciador antes del título -->
        <span class="toolbar-title">Sistema de Gestión Hospitalaria</span>
        <span class="spacer"></span> <!-- Agregar un espaciador después del título -->
      </mat-toolbar>
      

    <div class="dashboard-container">
        <!-- Panel Izquierdo: Gráficas -->
        <div class="left-panel">
            <mat-card class="chart-card">
                <mat-card-header>
                    <mat-card-title>Distribución por Gravedad</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <canvas id="gravedadChart" style="height: 400px; width: 100%;"></canvas>
                </mat-card-content>
            </mat-card>

            <mat-card class="chart-card">
                <mat-card-header>
                    <mat-card-title>Top Medicamentos con más Reportes</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <canvas id="medicamentoChart" style="height: 400px; width: 100%;"></canvas>
                </mat-card-content>
            </mat-card>

            <mat-card class="chart-card">
                <mat-card-header>
                    <mat-card-title>Top Pacientes con más Reportes</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <canvas id="pacienteChart" style="height: 400px; width: 100%;"></canvas>
                </mat-card-content>
            </mat-card>

            <mat-card class="chart-card">
                <mat-card-header>
                    <mat-card-title>Distribución por Vía de Administración</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <canvas id="viaChart" style="height: 400px; width: 100%;"></canvas>
                </mat-card-content>
            </mat-card>
        </div>

        <!-- Panel Derecho: Listado de Efectos Adversos -->
<div class="right-panel">
    <mat-card>
        <mat-card-header>
            <mat-toolbar>
                <span class="mat-card-title">Listado de Efectos Adversos</span>
            <span class="spacer"></span>
            <mat-form-field appearance="outline" class="filter-field">
              <mat-label>Buscar</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="Filtrar reportes">
            </mat-form-field>
        </mat-toolbar>
          </mat-card-header>
          
      <mat-card-content>
          
  
        <table mat-table [dataSource]="efectosAdversos" class="mat-elevation-z8">
          <!-- ID Paciente Column -->
          <ng-container matColumnDef="id_paciente">
            <th mat-header-cell *matHeaderCellDef> ID Paciente </th>
            <td mat-cell *matCellDef="let element"> {{element.idPaciente}} </td>
          </ng-container>
  
          <!-- Nombre Paciente Column -->
          <ng-container matColumnDef="nombre_paciente">
            <th mat-header-cell *matHeaderCellDef> Nombre Paciente </th>
            <td mat-cell *matCellDef="let element"> {{element.idPacienteNavigation?.nombre}} </td>
          </ng-container>
  
          <!-- Nombre Medicamento Column -->
          <ng-container matColumnDef="nombre_medicamento">
            <th mat-header-cell *matHeaderCellDef> Nombre Medicamento </th>
            <td mat-cell *matCellDef="let element"> {{element.idMedicamentoNavigation?.nombre}} </td>
          </ng-container>
  
          <!-- Fecha Reporte Column -->
          <ng-container matColumnDef="fecha_reporte">
            <th mat-header-cell *matHeaderCellDef> Fecha Reporte </th>
            <td mat-cell *matCellDef="let element"> {{element.fechaReporte | date:'dd/MM/yyyy'}} </td>
          </ng-container>
  
          <!-- Descripción Column -->
          <ng-container matColumnDef="descripcion">
            <th mat-header-cell *matHeaderCellDef> Descripción </th>
            <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
          <!-- <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openEfectoAdversoDialog(row)"></tr> -->
        </table>
  
        <!-- Paginador -->
        <mat-paginator [pageSize]="20" #paginatorEfectos></mat-paginator>
      </mat-card-content>
    </mat-card>
    <!-- Espacio entre las dos listas -->
    <div class="spacer-between"></div>

    <!-- Listado de Medicamentos -->
    <mat-card>
        <mat-card-header>
            <mat-toolbar>
                <span class="mat-card-title">Listado de Medicamentos</span>
                <span class="spacer"></span> <!-- Esto empuja el botón hacia la derecha -->
                <!--<button mat-icon-button (click)="openAddMedicamentoDialog()"> 
                  <mat-icon>add</mat-icon>
                </button>-->
              </mat-toolbar>
        </mat-card-header>
        <mat-card-content>
            <table mat-table [dataSource]="medicamentos" class="mat-elevation-z8">
                <!-- Nombre Medicamento Column -->
                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef> Nombre </th>
                    <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                </ng-container>

                <!-- Composición Column -->
                <ng-container matColumnDef="composicion">
                    <th mat-header-cell *matHeaderCellDef> Composición </th>
                    <td mat-cell *matCellDef="let element"> {{element.composicion}} </td>
                </ng-container>

                <!-- Fecha Registro Column -->
                <ng-container matColumnDef="fecha_registro">
                    <th mat-header-cell *matHeaderCellDef> Fecha Registro </th>
                    <td mat-cell *matCellDef="let element"> {{element.fechaRegistro | date:'dd/MM/yyyy'}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsMedicamentos"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsMedicamentos;"></tr>
            </table>

            <!-- Paginador -->
            <mat-paginator [pageSize]="12" #paginatorMedicamentos></mat-paginator>
        </mat-card-content>
    </mat-card>
  </div>
  

    </div>

</div>