.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav-container{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.igss-img{
  width: 115px;
  padding: 6px;
}

.holder{
  overflow: hidden;
  height: 85%;
  margin: 2%;
}