<div class="text-center no-select">
    <div style="font-size: 12vh; font-weight: 500;">
        <span style="color: #648c1a;">Farmaco</span>
        <span style="color: #0d0d0e;"></span>
        <span style="color: #236995">vigi</span>
        <span style="color: #236995;">lancia</span>
    </div>
    <p style="font-size: 3vh; margin-top: -20px;">
        Sistema de Faramacovigilancia
        <br>
        Instituto Guatemalteco de Seguridad Social
        <br>
<!--        <span style="font-size: 2vh;">Subgerencia de Tecnología</span> -->
    </p>
</div>