.app-wrapper {
  min-height: 84.7vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  display: flex;
  justify-content: center;  /* Centra horizontal */
  align-items: center;      /* Centra vertical */
  height: 100%;
  width: 100% ;
  background-color: #f4f4f4;
  padding: 20px;
}

.card img {
  max-width: 80px;
  max-height: 80px;
  object-fit: contain;
  margin: 20px auto;
  display: block;
}

.card h2 {
  margin: 0;
  padding: 0 20px;
  font-size: 1.2rem;
  color: #2e7d32;
}

.card p {
  margin: 10px 0 0;
  padding: 0 20px;
  font-size: 0.9rem;
  color: #666;
  line-height: 1.4;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 1200px
/*  max-width: 900px
*/
}

.card {
  background-color: #d4edda;
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  padding: 0;
  text-align: center;
  transition: transform 0.2s;
  height: 250px;
  display: flex;              
  flex-direction: column;     
  align-items: center;        
  justify-content: center;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.cg-card:hover {
  transform: translateY(-5px);
}
