<mat-drawer-container class="full-height">
    <div style="display: table;" class="w-100 full-height">
        <div style="display: table-cell; vertical-align:middle">
            <div style="font-size: 20vh; font-weight: 500;" class="text-center">
                <span>404</span>
                <p style="font-size: 3vh;  margin-top: -30px; margin-bottom: -10px;">
                    Página no encontrada
                </p>
            </div>
            <app-project-legend></app-project-legend>
            <div class="text-center">
                <mat-icon class="scale-icon">vibration</mat-icon>
                <br>
                <br>
                <a mat-stroked-button href="#" color="primary">
                    Volver a la página principal
                </a>
            </div>
        </div>
    </div>
</mat-drawer-container>